body
{
  font-family: 'Times New Roman', times, serif;
}
h1
{
  font-size: 46;
  width = 50%;
}
table
{
  width: auto;
  background: orangered;
  color: white;
}
div
{
  width: auto;
}
a{
  color: ;
}
#programmingFrame{
  width: 50%;
  left: 0px;
  height: 80%;
}
#communicationFrame{
  width: 50%;
  right: 0px;
  background-color: yellow;
  height: 80%;
}
